.MovieInfo {
    margin-top: 12vh;
    width: 100%;
}

.MovieInfoTitle {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 2vh;
}

.MoviesByGenreTitleDark {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 2vh;
    color: white;
}

.MovieInfoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posterDiv {
    position: relative;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MovieInfoPoster {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23vw;
    height: 70vh;
    -webkit-box-shadow: -2px 0px 62px 11px rgb(25, 118, 210);
    -moz-box-shadow: -2px 0px 62px 11px rgb(25, 118, 210);
    box-shadow: -2px 0px 62px 11px rgb(25, 118, 210);
}

.MovieInfoPosterDark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23vw;
    height: 70vh;
    -webkit-box-shadow: -2px 0px 62px 11px rgb(0, 0, 139);
    -moz-box-shadow: -2px 0px 62px 11px rgb(0, 0, 139);
    box-shadow: -2px 0px 62px 11px rgb(0, 0, 139);
}

.MovieInfoOverview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}

.MovieInfoDateRating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
}

.genres {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 4vh;
    left: -7.5vw;
    gap: 1vw;
    transition: .3s ease-in-out;
}

.genre {
    border-radius: 35%;
    flex-wrap: wrap;
    transition: .3s ease-in-out;
}

.genre:hover {
    /*background-color: #1976d2;*/
    transition: .3s ease-in-out;
    cursor: pointer;
    -webkit-box-shadow: -2px 0px 62px 16px rgba(64,84,199,1);
    -moz-box-shadow: -2px 0px 62px 16px rgba(64,84,199,1);
    box-shadow: -2px 0px 62px 16px rgba(64,84,199,1);
}

.MovieInfoDate {
    color: black;
}

.MovieInfoDateDark {
    color: white;
}