.MovieListCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
}

.MovieListCardTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2vh;
    height: 8vh;
}

.MovieListCardTitleDark {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2vh;
    height: 8vh;
    color: white;
}

.MovieListCardPoster {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23vw;
    height: 70vh;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.MovieListCardPoster:hover {
    -webkit-box-shadow: -2px 0px 62px 11px rgb(25, 118, 210);
    -moz-box-shadow: -2px 0px 62px 11px rgb(25, 118, 210);
    box-shadow: -2px 0px 62px 11px rgb(25, 118, 210);
    transition: .3s ease-in-out;
}

.MovieListCardPosterDark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23vw;
    height: 70vh;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.MovieListCardPosterDark:hover {
    -webkit-box-shadow: -2px 0px 62px 11px rgb(0, 0, 139);
    -moz-box-shadow: -2px 0px 62px 11px rgb(0, 0, 139);
    box-shadow: -2px 0px 62px 11px rgb(0, 0, 139);
    transition: .3s ease-in-out;
}

.MovieListCardInfo {
    display: flex;
    width: 25vw;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2vh;
}

.MovieListCardDate {
    color: black;
}

.MovieListCardDateDark {
    color: white;
}